<a href="https://colab.research.google.com/github/DivyaSadhana/Python_Formulas/blob/main/Python_Logics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Addition, Subtraction, Multilication

In [38]:
Addition = (3+2) + (6+8)
Subtraction = (14-6) - (4-3)
Multiplication = (15*3) * (6+2) * (6-3)
print(Addition)
print(Subtraction)
print(Multiplication)

19
7
1080

Division, Percentage

In [43]:
Division = 1042/60
Division_2= Division/30
Percentage = 1042%60
Percentage_2 = Percentage%20
print(Division)
print(Division_2)
print(Percentage)
print(Percentage_2)

17.366666666666667
0.5788888888888889
22
2

Combine Numericals of 2 different columns

In [16]:
Integer = 6
Real_Number = 0.7
Integer+Real_Number

6.7

Combine 'Text' in 2 different columns to create single line

In [15]:
Assumption = " but Earth is flat."
Fact = "Sun rises in the east"
Fact + Assumption

'Sun rises in the east but Earth is flat.'

Replace/Update single word in a given sentence.

In [41]:
print('Sun rises in the east but Earth is flat'.replace("earth", "earth is not"))

Sun rises in the east but Earth is flat

Since Python is case-sensitive above logic did not work. Now choosing exact without case-sensitive error gives desired result

In [ ]:
print('Sun rises in the east but Earth is flat'.replace("Earth", "earth is not"))

Remove all special Charecters from Symptom Text

In [ ]:
to_remov = {"@": "", "!": "", "^": "", "#": ""}
Dataset['SYMPTOM_TEXT'] = Dataset['SYMPTOM_TEXT'].replace(to_remov)
Dataset['SYMPTOM_TEXT']

Define a column and create data

In [ ]:
def Cardiac_Events(SYMPTOM_TEXT):
    if SYMPTOM_TEXT == 'cardiac':
        return '1'
    if SYMPTOM_TEXT == 'cardio':
        return 'True'
    if SYMPTOM_TEXT == 'heart':
        return 'True'
    if SYMPTOM_TEXT == 'atria':
        return 'True'
    else:
        return 'False'

In [ ]:
def Cardiac_Events(SYMPTOM_TEXT):
    if 'cardiac' in SYMPTOM_TEXT:
        return '1'
    if 'cardio' in SYMPTOM_TEXT:
        return '1'
    if 'heart' in SYMPTOM_TEXT:
        return '1'
    if 'atria' in SYMPTOM_TEXT:
        return '1'
    else:
        return '0'