<a href="https://colab.research.google.com/github/DivyaSadhana/Python_Formulas/blob/main/Python_Logics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Addition, Subtraction, Multiplication

In [38]:
Addition = (3+2) + (6+8)
Subtraction = (14-6) - (4-3)
Multiplication = (15*3) * (6+2) * (6-3)
print(Addition)
print(Subtraction)
print(Multiplication)

19
7
1080

Use addition to create a statement

In [55]:
Welcome_Note= ("Greetings")
Name= (" from India")
print(Welcome_Note+Name)

Greetings from India

#Division, Percentage

In [43]:
Division = 1042/60
Division_2= Division/30
Percentage = 1042%60
Percentage_2 = Percentage%20
print(Division)
print(Division_2)
print(Percentage)
print(Percentage_2)

17.366666666666667
0.5788888888888889
22
2

# Combine Numericals of 2 different columns

In [16]:
Integer = 6
Real_Number = 0.7
Integer+Real_Number

6.7

#Combine 'Text' in 2 different columns to create single line

In [15]:
Assumption = " but Earth is flat."
Fact = "Sun rises in the east"
Fact + Assumption

'Sun rises in the east but Earth is flat.'

#In above examples **'Operators'** were used to match left hand logic with right hand logic.
'(left side <> operator <> right side)'. Operators could be =,+,-,*,/,%   etc.

#Replace/Update single word in a given sentence.

In [41]:
print('Sun rises in the east but Earth is flat'.replace("earth", "earth is not"))

Sun rises in the east but Earth is flat

#Since Python is case-sensitive above logic did not work. Now choosing exact without case-sensitive error gives desired result

In [ ]:
print('Sun rises in the east but Earth is flat'.replace("Earth", "earth is not"))

#Round up (nearest upper value) and Round Down(nearest lower value) an integer. Round_Up/Down are definitions used to understand logic.

In [47]:
from math import ceil, floor
round_up=ceil(12.5)
print(round_up)
round_down=floor(12.5)
print(round_down)

13
12

#Add Today's date and pull with string. When we pull result without using data format as string type, it would throw an error as below

In [48]:
from datetime import date
date.today()
print("Today's date is: " + date.today())

TypeError: ignored

#Adding 'str' as a string and using operator '+' would over-rule above error to get the result since we are adding text as a string before desired output

In [49]:
from datetime import date
date.today()
print("Today's date is: " + str(date.today()))

Today's date is: 2023-10-25

Use above logic to frame a statement

In [5]:
Name= (" India")
print("Welcome to"+Name)
print("Welcome to",Name)

Welcome to India
Welcome to  India

#Add new data to existent data through Append() logic. Then Count the number of variables using len logic

In [3]:
Planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
Planets.append('Pluto')
number_of_planets = len(Planets)
print("There are actually", number_of_planets, "planets in the solar system.")

There are actually 9 planets in the solar system.

# Locate specific word in a list

In [6]:
Planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune", "Pluto"]
print("The first planet is", Planets[0])
print("The second planet is", Planets[1])
print("The last planet is", Planets[-1])
print("The penultimate planet is", Planets[-2])

The first planet is Mercury
The second planet is Venus
The last planet is Pluto
The penultimate planet is Neptune

#Find a specific word/value in the list through 'Index' order

In [7]:
Planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
jupiter_index = Planets.index("Jupiter")
print("Jupiter is the", jupiter_index + 1, "planet from the sun")

Jupiter is the 5 planet from the sun

Because indexing starts with 0, you need to add 1 to display the proper number.

In [13]:
Planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
jupiter_index = Planets.index("Jupiter")
print(jupiter_index+1)

5

#Difference between 'Find' & 'Index' logics

In [ ]:
x = Planets.find('Jupiter')
print(x)
#The main difference is that Python find() produces -1 as output if it is unable to find the substring, whereas index() throws a ValueError exception.

5

#Store Numbers in the list by performing aggrigate, min, max calculations within output statements to be generated.

In [16]:
Gravity_on_Planets = [0.378, 0.907, 1, 0.377, 2.36, 0.916, 0.889, 1.12]
#In this list, gravity_on_planets[0] is the gravity on Mercury (0.378 G), gravity_on_planets[1] is the gravity on Venus (0.907 G), and so on.

Bus_Weight = 124054 # in Newtons, on Earth
print("On Earth, a double-decker bus weighs", Bus_Weight, "N")
print("On Mercury, a double-decker bus weighs", Bus_Weight * Gravity_on_Planets[0], "N")
print("On Venus, a double-decker bus weighs", Bus_Weight * Gravity_on_Planets[1], "N")
print("On Earth, a double-decker bus weighs", Bus_Weight, "N")
print("The lightest a bus would be in the solar system is", Bus_Weight * min(Gravity_on_Planets), "N")
print("The heaviest a bus would be in the solar system is", Bus_Weight * max(Gravity_on_Planets), "N")

On Earth, a double-decker bus weighs 124054 N
On Mercury, a double-decker bus weighs 46892.412000000004 N
On Venus, a double-decker bus weighs 112516.978 N
On Earth, a double-decker bus weighs 124054 N
The lightest a bus would be in the solar system is 46768.358 N
The heaviest a bus would be in the solar system is 292767.44 N

#Slice the list to create a new list without altering original data

In [17]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
planets_before_earth = planets[0:2]
print(planets_before_earth)

planets_after_earth = planets[3:8]
print(planets_after_earth)

planets_after_earth = planets[3:]
print(planets_after_earth)

['Mercury', 'Venus']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#Sort out the list based on alphabetical or numerical order. This features modifies the original data.

In [18]:
amalthea_group = ["Metis", "Adrastea", "Amalthea", "Thebe"]
galilean_moons = ["Io", "Europa", "Ganymede", "Callisto"]
regular_satellite_moons = amalthea_group + galilean_moons

#Alphabetical order in ascending manner
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

#Alphabetical order in descending manner
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']

#For Loop

In [32]:
planet = {
    'name': 'Mars',
    'moons': 2
}
print(f'{planet["name"]} has {planet["moons"]} moon(s)')

#Add circumference to above list
planet['circumference (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}
print(f'{planet["name"]} has a polar circumference of {planet["circumference (km)"]["polar"]}')

Mars has 2 moon(s)
Mars has a polar circumference of 6752

Add keys (parameters) to the data

In [34]:
rainfall = {
    'october': 3.5,
    'november': 4.2,
    'december': 2.1
}

for key in rainfall.keys():
    print(f'{key}: {rainfall[key]}cm')

october: 3.5cm
november: 4.2cm
december: 2.1cm

In [41]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

moons = planet_moons.values()
total_planets = len(planet_moons.keys())

total_moons = 0
for moon in moons:
    total_moons = total_moons + moon

average = total_moons / total_planets

print(f'Each planet has an average of {average} moons')

Each planet has an average of 17.833333333333332 moons

#Define a column

In [44]:
def rocket_parts():
    return "payload, propellant, structure"
output = rocket_parts()
output

'payload, propellant, structure'

In [48]:
def distance_from_earth(destination):
    if destination == "Moon":
        return "238,855"
    else:
        return "Unable to compute to that destination"

output = distance_from_earth("Moon")
output

'238,855'

In [65]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24
output1 = days_to_complete(238855, 75)
output1

132.69722222222222

In [54]:
total_days = days_to_complete(238855, 75)
total_days
print(round(total_days))

133

In [64]:

def sequence_time(*args):
    total_minutes = sum(args)
    if total_minutes < 60:
        return f"Total time to launch is {total_minutes} minutes"
    else:
        return f"Total time to launch is {total_minutes/60} hours"

sequence_time (4, 14, 18)

'Total time to launch is 36 minutes'

#Remove all special Charecters from Symptom Text

In [76]:
Fact = ['Sun @ rises in the east']
to_remov = {"@": "", "!": "", "^": "", "#": ""}
Facts = Fact.replace(to_remov)
Facts

AttributeError: ignored

Define a column and create data

In [72]:
def Cardiac_Events(SYMPTOM_TEXT):
    if SYMPTOM_TEXT == 'cardiac':
        return '1'
    if SYMPTOM_TEXT == 'cardio':
        return '1'
    if SYMPTOM_TEXT == 'heart':
        return '1'
    if SYMPTOM_TEXT == 'atria':
        return '1'
    else:
        return '0'

Cardiac_Events = ('SYMPTOM_TEXT')
Cardiac_Events

'SYMPTOM_TEXT'

In [73]:
def Cardiac_Events(SYMPTOM_TEXT):
    if 'cardiac' in SYMPTOM_TEXT:
        return '1'
    if 'cardio' in SYMPTOM_TEXT:
        return '1'
    if 'heart' in SYMPTOM_TEXT:
        return '1'
    if 'atria' in SYMPTOM_TEXT:
        return '1'
    else:
        return '0'
Cardiac_Events = ('SYMPTOM_TEXT')
Cardiac_Events

'SYMPTOM_TEXT'